.tab-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding-bottom: 20px;
    border-top: 1px solid #eee;
    
    width: 100%; 
    margin-top: 40px; 
    background-color: #ffffff; 
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
    padding-top: 10px;
}

.tab-icon {
    font-size: 20px;
    margin-bottom: 2px;
    color: #b0b0b0; 
}

.tab-text {
    font-size: 12px;
    font-weight: 500;
    color: #b0b0b0; 
}

.active-tab .active-icon,
.active-text {
    color: #4CAF50 !important; 
}

.calendar-text {
    color: #B2CC4C;
}

.tab:nth-child(2) .tab-icon {
    color: #b0b0b0;
}